:host {
  display: block;
  height: 85px;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  height: 85px;
  min-height: 65px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 28px 12%;
  transition: all 0.05s ease;
  filter: drop-shadow(0px 3px 5px #343434);
  transition: navbar-color 0.4s ease-in-out;
}

.header-scrolled {
  background-color: white;
}

.logo {
  color: var(--text-dark);
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar {
  display: flex;
  margin-bottom: 0 !important;
}

.navbar a {
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0 18px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--text-dark);
}

.navbar a.active {
  color: var(--text-dark);
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.user {
  display: flex;
  align-items: center;
}

.main a:hover,
.main a.active {
  color: var(--text-dark);
}

#burger-menu {
  z-index: 1001;
  display: none;
}

@media (max-width: 1300px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1044px) {
  header {
    padding: 14px 8%;
  }

  #burger-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all 0.2s ease;
    color: var(--text-dark);
  }

  .navbar a:hover {
    font-weight: 600;
    transform: translateY(5px);
  }

  .navbar a.active {
    font-weight: 600;
  }

  .navbar.open {
    right: 2%;
  }
}

@media (max-width: 580px) {
  .account {
    display: none;
  }
}
