<div class="page-wrapper">
  <app-page-title title_text="Novosti"></app-page-title>
  <div class="container">
    <button
      [routerLink]="['/novosti-dodaj']"
      *ngIf="authService.isLoggedIn"
      class="btn add-news"
    >
      Dodaj Novosti
    </button>
    <div
      *ngFor="
        let newsItem of newsList.slice(
          (currentPage - 1) * itemsPerPage,
          currentPage * itemsPerPage
        )
      "
      class="news-item-container"
    >
      <img
        *ngIf="newsItem.images && newsItem.images.length > 0"
        (click)="navigateToNewsDetail(newsItem.key)"
        [src]="newsItem.images[0].url"
        class="news-image"
        alt="News Image"
      />
      <div class="news-content">
        <div class="title-text">
          <div class="news-title-wrapper">
            <a (click)="navigateToNewsDetail(newsItem.key)" class="news-title">
              {{ newsItem.title }}
            </a>
          </div>
          <p class="news-text">
            {{ newsItem.content | slice : 0 : 150
            }}{{ newsItem.content.length > 150 ? "..." : "" }}
          </p>
        </div>
        <div class="date-author">
          {{ newsItem.date.toLocaleDateString() }} | {{ newsItem.author }}
        </div>
      </div>
    </div>

    <ul class="pagination">
      <li
        *ngFor="let page of pageNumbers"
        [class.active]="page === currentPage"
      >
        <a (click)="changePage(page)">{{ page }}</a>
      </li>
    </ul>
  </div>
</div>
