<div class="container">
  <div class="row">
    <div class="col">
      <div class="news-list">
        <button
          [routerLink]="['/novosti-dodaj']"
          *ngIf="authService.isLoggedIn"
          class="btn add-news"
        >
          Dodaj Novosti
        </button>
        <div
          *ngFor="
            let newsItem of newsList.slice(
              (currentPage - 1) * itemsPerPage,
              currentPage * itemsPerPage
            )
          "
          class="news-item-container"
        >
          <div class="news-item text-center mb-4">
            <img
              *ngIf="newsItem.images && newsItem.images.length > 0"
              (click)="navigateToNewsDetail(newsItem.key)"
              [src]="newsItem.images[0].url"
              class="img-fluid news-image"
              alt="News Image"
            />
            <div class="news-title-wrapper">
              <a
                (click)="navigateToNewsDetail(newsItem.key)"
                class="news-title"
              >
                {{ newsItem.title }}
              </a>
            </div>
            <p class="small">
              {{ newsItem.date.toLocaleDateString() }} | {{ newsItem.author }}
            </p>
            <p class="news-content">
              {{ newsItem.content | slice : 0 : 150
              }}{{ newsItem.content.length > 150 ? "..." : "" }}
            </p>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <li
          *ngFor="let page of pageNumbers"
          [class.active]="page === currentPage"
        >
          <a (click)="changePage(page)">{{ page }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
