<div class="page-wrapper">
  <app-page-title title_text="Galerija"></app-page-title>
  <div *ngIf="showFullImg" id="fullImgBox" class="full-img">
    <div class="img-background" (click)="closeFullImg()">
      <img
        id="fullImg"
        src="../../../assets/gallery/gallery_img{{ imgId }}.jpg"
        (click)="fullImgClick($event)"
      />
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn" class="row">
    <div class="col-md-12 mb-3">
      <input
        type="file"
        id="file"
        name="image"
        autocomplete="off"
        #image
        multiple
        (change)="onFilesSelected($event)"
        class="form-control"
      />
    </div>
  </div>
  <div class="img-gallery">
    <div *ngFor="let image of images">
      <img src="{{ image.url }}" (click)="openFullImg(image)" />
      <button
        *ngIf="authService.isLoggedIn"
        type="button"
        class="btn btn-secondary remove-img-btn"
        (click)="removeSelectedImage(image)"
      >
        X
      </button>
    </div>
  </div>
</div>
