<div class="page-wrapper">
  <div class="container">
    <!-- <button class="btn btn-secondary gap-right" (click)="back()">
        Nazad
      </button> -->
    <div *ngIf="authService.isLoggedIn" class="admin-buttons">
      <button [routerLink]="['uredi']" class="btn btn-secondary">
        Uredi Novost
      </button>
      <button (click)="deleteNews()" class="btn btn-secondary">
        Izbriši Novost
      </button>
    </div>
    <p class="news-title">{{ news.title }}</p>
    <p class="date-author">
      {{ news.date.toLocaleDateString() }} | {{ news.author }}
    </p>
    <!-- ____________________________________________________________ -->
    <div
      *ngFor="let image of news.images"
      [hidden]="!(image.url == currentImage)"
      class="carousel-container"
    >
      <div class="image-container">
        <img [src]="image.url" alt="News Image" />
      </div>
    </div>
    <!-- ____________________________________________________________ -->
    <div *ngIf="news.images && news.images.length > 0">
      <p class="img-numbers">({{ currentNumber }}/{{ maxNumber }})</p>
      <div class="carousel-controls">
        <button class="btn btn-secondary" (click)="prevImage()">&lt;</button>
        <button class="btn btn-secondary" (click)="nextImage()">&gt;</button>
      </div>
    </div>
    <div class="news-content-wrapper">
      <p class="news-content">{{ news.content }}</p>
    </div>
  </div>
</div>
