<div class="page-wrapper">
  <app-page-title title_text="Prijavi se"></app-page-title>
  <div class="container">
    <div class="formGroup">
      <input
        type="text"
        class="formControl"
        placeholder="Email"
        #userEmail
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
      />
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup">
      <button (click)="authService.SignIn(userEmail.value, userPassword.value)">
        Prijava
      </button>
    </div>

    <div class="forgotPassword">
      <a [routerLink]="['/forgot-password']">Zaboravili ste šifru?</a>
    </div>
  </div>
</div>
