<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
    crossorigin="anonymous"
  />
</head>
<div class="page-wrapper">
  <div class="hero-section">
    <div class="hero-image">
      <p>Autoškola "A&S" <span>Konjic</span></p>
      <h6>Sa nama do brzog i uspješnog polaganja testova za sve kategorije</h6>
    </div>
  </div>

  <div class="about-us-section">
    <div class="about-us-wrapper">
      <div class="about-us-more">
        <p>Saznaj više</p>
        <div class="btn-o-nama"><a [routerLink]="['/o-nama']">O NAMA</a></div>
      </div>
      <div class="horisontal-separator"></div>
      <div class="social-media">
        <p>Društvene mreže</p>
        <div class="social-media-icons">
          <a
            href="https://www.facebook.com/profile.php?id=100083397306364"
            target="_blank"
            ><svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9675 2.737H15.9675C14.6414 2.737 13.3697 3.26378 12.432 4.20147C11.4943 5.13915 10.9675 6.41092 10.9675 7.737V10.737H7.96753V14.737H10.9675V22.737H14.9675V14.737H17.9675L18.9675 10.737H14.9675V7.737C14.9675 7.47178 15.0729 7.21743 15.2604 7.02989C15.448 6.84236 15.7023 6.737 15.9675 6.737H18.9675V2.737Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <a
            href="https://instagram.com/auto_skola_ais?igshid=NTdlMDg3MTY"
            target="_blank"
            ><svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.9675 2.737H7.96753C5.20611 2.737 2.96753 4.97558 2.96753 7.737V17.737C2.96753 20.4984 5.20611 22.737 7.96753 22.737H17.9675C20.729 22.737 22.9675 20.4984 22.9675 17.737V7.737C22.9675 4.97558 20.729 2.737 17.9675 2.737Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.9675 12.107C17.0909 12.9392 16.9487 13.7892 16.5612 14.536C16.1737 15.2828 15.5606 15.8884 14.8091 16.2667C14.0576 16.6449 13.2059 16.7766 12.3753 16.6429C11.5446 16.5093 10.7772 16.1171 10.1823 15.5222C9.5874 14.9272 9.19521 14.1599 9.06155 13.3292C8.92788 12.4985 9.05955 11.6469 9.43781 10.8954C9.81607 10.1438 10.4217 9.53074 11.1685 9.14324C11.9153 8.75574 12.7652 8.61358 13.5975 8.737C14.4464 8.86288 15.2323 9.25846 15.8392 9.8653C16.446 10.4721 16.8416 11.2581 16.9675 12.107Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.4675 7.237H18.4775"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="phases-section">
    <div class="section-title">
      <p>Šta je sve potrebno da biste dobili vozačku dozvolu?</p>
    </div>
    <div class="phases">
      <div class="phase">
        <div class="number">
          <p>1.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere? Voluptatem nostrum
            reprehenderit aliquid assumenda quo dolorum fugiat!
          </p>
        </div>
      </div>
      <div class="phase">
        <div class="number">
          <p>2.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere?
          </p>
        </div>
      </div>
      <div class="phase">
        <div class="number">
          <p>3.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Sunt accusamus, quos cumque
            ratione eligendi corrupti molestiae magni voluptatibus similique
            deserunt sapiente facere?
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-section">
    <div class="section-title inverted">
      <p>Česta pitanja</p>
    </div>
    <main class="faq-content">
      <div class="faq-image">
        <img
          src="../../../assets/faq-img.jpg"
          alt="Vožnja automobila"
          class="faq-img"
        />
      </div>
      <div class="faq-questions">
        <div class="questions-answers">
          <!-- FAQ Area-->
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingOne">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Tekst prvog pitanja?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseOne"
              aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Molestias earum at esse alias deserunt fuga! Eaque corrupti
                  impedit ad, ex magni blanditiis doloribus tempora incidunt
                  facilis aut, perferendis est sequi.
                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Dolorum tenetur reiciendis dicta incidunt odit quis provident
                  vero labore.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingTwo">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Tekst drugog pitanja sa dužim tekstom?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseTwo"
              aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nihil repellat tempora magnam assumenda omnis hic dicta nulla
                  perferendis fuga neque, sit laborum quasi accusamus non
                  voluptates numquam totam itaque veritatis! Assumenda omnis hic
                  dicta nulla perferendis fuga neque, sit laborum quasi
                  accusamus non voluptates numquam totam itaque veritatis!
                </p>
                <p>
                  Nihil repellat tempora magnam assumenda omnis hic dicta nulla.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingThree">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                Tekst treceg________treceg pitanja sa dužim tekstom koji prelazi
                i u drgi red?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseThree"
              aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
                  quidem et quam distinctio voluptas neque asperiores eligendi.
                  Maxime quam doloremque voluptates eveniet deserunt? Sed illo
                  quasi exercitationem repellat! Iste, eum?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                  eos veniam. Id laborum alias totam natus vero sapiente odio.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFour">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                Tekst cetvrtog pitanja?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFour"
              aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Minima ea et, similique, impedit hic architecto corporis
                  dolorem sed id dolor tenetur veniam rem fuga consectetur
                  laboriosam ipsam tempore iure ducimus!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                  repellendus odit, sed repellat voluptatem expedita.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFive">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                Tekst petog pitanja?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFive"
              aria-labelledby="headingFive"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Suscipit minima cum reiciendis ratione in? Deleniti nobis,
                  ullam repellendus at placeat reiciendis magni dolorum quam
                  cumque non iusto eius velit? Atque?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta asperiores illum architecto debitis mollitia cum modi
                  sunt voluptas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <div class="reviews-section">
    <div class="reviews-wrapper">
      <div class="section-title">
        <p>Šta drugi kažu o nama</p>
      </div>
      <div class="review-cards">
        <!-- CARD 1 -->
        <div class="review-card">
          <div class="review-image">
            <!--<img src="images/img2.jpg" alt="" />-->
          </div>
          <p class="review-name">Someone Name</p>
          <p class="review-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elite. Lorem
            ipsum dolor sit amet consectetur adipisicing elite. Lorem ipsum
            dolor sit amet consectetur adipisicing.
          </p>
        </div>
        <!-- CARD 2 -->
        <div class="review-card">
          <div class="review-image">
            <!--<img src="images/img2.jpg" alt="" />-->
          </div>
          <p class="review-name">Someone Name</p>
          <p class="review-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elite. Lorem
            ipsum dolor sit amet consectetur adipisicing elite. Lorem ipsum
            dolor sit amet consectetur adipisicing elite.Lorem ipsum dolor sit
            amet consectetur adipisicing elite. Lorem ipsum dolor sit amet
            consectetur adipisicing elite.
          </p>
        </div>
        <!-- CARD 3 -->
        <div class="review-card">
          <div class="review-image">
            <!--<img src="images/img2.jpg" alt="" />-->
          </div>
          <p class="review-name">Someone Name</p>
          <p class="review-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elite. Lorem
            ipsum dolor sit amet consectetur adipisicing elite.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
