<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
    crossorigin="anonymous"
  />
</head>
<div class="page-wrapper">
  <div class="hero-section">
    <div class="hero-image">
      <p>Autoškola "A&S" <span>Konjic</span></p>
      <h6>Sa nama do brzog i uspješnog polaganja testova za sve kategorije</h6>
    </div>
  </div>

  <div class="about-us-section">
    <div class="about-us-wrapper">
      <div class="about-us-more">
        <p>Saznaj više</p>
        <div class="btn-o-nama"><a [routerLink]="['/o-nama']">O NAMA</a></div>
      </div>
      <div class="horisontal-separator"></div>
      <div class="social-media">
        <p>Društvene mreže</p>
        <div class="social-media-icons">
          <a
            href="https://www.facebook.com/profile.php?id=100083397306364"
            target="_blank"
            ><svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9675 2.737H15.9675C14.6414 2.737 13.3697 3.26378 12.432 4.20147C11.4943 5.13915 10.9675 6.41092 10.9675 7.737V10.737H7.96753V14.737H10.9675V22.737H14.9675V14.737H17.9675L18.9675 10.737H14.9675V7.737C14.9675 7.47178 15.0729 7.21743 15.2604 7.02989C15.448 6.84236 15.7023 6.737 15.9675 6.737H18.9675V2.737Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <a
            href="https://instagram.com/auto_skola_ais?igshid=NTdlMDg3MTY"
            target="_blank"
            ><svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.9675 2.737H7.96753C5.20611 2.737 2.96753 4.97558 2.96753 7.737V17.737C2.96753 20.4984 5.20611 22.737 7.96753 22.737H17.9675C20.729 22.737 22.9675 20.4984 22.9675 17.737V7.737C22.9675 4.97558 20.729 2.737 17.9675 2.737Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.9675 12.107C17.0909 12.9392 16.9487 13.7892 16.5612 14.536C16.1737 15.2828 15.5606 15.8884 14.8091 16.2667C14.0576 16.6449 13.2059 16.7766 12.3753 16.6429C11.5446 16.5093 10.7772 16.1171 10.1823 15.5222C9.5874 14.9272 9.19521 14.1599 9.06155 13.3292C8.92788 12.4985 9.05955 11.6469 9.43781 10.8954C9.81607 10.1438 10.4217 9.53074 11.1685 9.14324C11.9153 8.75574 12.7652 8.61358 13.5975 8.737C14.4464 8.86288 15.2323 9.25846 15.8392 9.8653C16.446 10.4721 16.8416 11.2581 16.9675 12.107Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.4675 7.237H18.4775"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="phases-section">
    <div class="section-title">
      <p>Šta je sve potrebno da biste dobili vozačku dozvolu?</p>
    </div>
    <div class="phases">
      <div class="phase">
        <div class="number">
          <p>1.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere? Voluptatem nostrum
            reprehenderit aliquid assumenda quo dolorum fugiat!
          </p>
        </div>
      </div>
      <div class="phase">
        <div class="number">
          <p>2.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere?
          </p>
        </div>
      </div>
      <div class="phase">
        <div class="number">
          <p>3.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">Instrucion title</p>
          <p class="instruction-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            accusamus, quos cumque ratione eligendi corrupti molestiae magni
            voluptatibus similique deserunt sapiente facere? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Sunt accusamus, quos cumque
            ratione eligendi corrupti molestiae magni voluptatibus similique
            deserunt sapiente facere?
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-section">
    <div class="section-title inverted">
      <p>Česta pitanja</p>
    </div>
    <main class="faq-content">
      <div class="faq-image">
        <img
          src="../../../assets/faq-img.jpg"
          alt="Vožnja automobila"
          class="faq-img"
        />
      </div>
      <div class="faq-questions">
        <div class="questions-answers">
          <!-- FAQ Area-->
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingOne">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Kako mogu kontaktirati Shop?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseOne"
              aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Kontaktiranje prodavača putem emaila je najbolji način da
                  dobijete informacije o nekom proizvodu ili da rješite
                  potencijalne probleme s Vašom narudžbom. Svaki prodavač na
                  "Made with love" se sam bavi svojim narudžbama i donosi odluke
                  o pravilima povrata i otkazivanja.
                </p>
                <p>
                  U slučaju da imate problema u kontaktiranju prodavača, molimo
                  da nam pošaljete upit putem Kontakt forme.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingTwo">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Koji je status moje narudžbe?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseTwo"
              aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Status Vaše narudžbe možete vidjeti na našoj stranici. Ako je
                  prodavač dodao broj za praćenje, isti možete iskoristiti da bi
                  dobili detaljne informacije o kretanju paketa preko određene
                  pošte.
                </p>
                <p>
                  Ukoliko ste odabrali opciju preuzimanja kod prodavača, molimo
                  da istog kontaktirate u vezi statusa narudžbe.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingThree">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                Kako mogu kontaktirati Shop?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseThree"
              aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Kontaktiranje prodavača putem emaila je najbolji način da
                  dobijete informacije o nekom proizvodu ili da rješite
                  potencijalne probleme s Vašom narudžbom. Svaki prodavač na
                  "Made with love" se sam bavi svojim narudžbama i donosi odluke
                  o pravilima povrata i otkazivanja.
                </p>
                <p>
                  U slučaju da imate problema u kontaktiranju prodavača, molimo
                  da nam pošaljete upit putem Kontakt forme.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFour">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                Koji je status moje narudžbe?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFour"
              aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Status Vaše narudžbe možete vidjeti na našoj stranici. Ako je
                  prodavač dodao broj za praćenje, isti možete iskoristiti da bi
                  dobili detaljne informacije o kretanju paketa preko određene
                  pošte.
                </p>
                <p>
                  Ukoliko ste odabrali opciju preuzimanja kod prodavača, molimo
                  da istog kontaktirate u vezi statusa narudžbe.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFive">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                Kako mogu kontaktirati Shop?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFive"
              aria-labelledby="headingFive"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Kontaktiranje prodavača putem emaila je najbolji način da
                  dobijete informacije o nekom proizvodu ili da rješite
                  potencijalne probleme s Vašom narudžbom. Svaki prodavač na
                  "Made with love" se sam bavi svojim narudžbama i donosi odluke
                  o pravilima povrata i otkazivanja.
                </p>
                <p>
                  U slučaju da imate problema u kontaktiranju prodavača, molimo
                  da nam pošaljete upit putem Kontakt forme.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingSix">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="true"
                aria-controls="collapseSix"
              >
                Koji je status moje narudžbe?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseSix"
              aria-labelledby="headingSix"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Status Vaše narudžbe možete vidjeti na našoj stranici. Ako je
                  prodavač dodao broj za praćenje, isti možete iskoristiti da bi
                  dobili detaljne informacije o kretanju paketa preko određene
                  pošte.
                </p>
                <p>
                  Ukoliko ste odabrali opciju preuzimanja kod prodavača, molimo
                  da istog kontaktirate u vezi statusa narudžbe.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingSeven">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="true"
                aria-controls="collapseSeven"
              >
                Kako možete dodati popuste i rasprodaje za Vaš Shop?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseSeven"
              aria-labelledby="headingSeven"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Rasprodaje, popuste i druge posebne ponude Vašeg Shop-a možete
                  dodati klikom na dugme "Posebne ponude". Putem te opcije
                  možete unijete sve informacije o ponudi uključujući period za
                  koji ponuda važi.
                </p>
                <p>
                  U periodu trajanja kojeg ste izabrali, posebna ponuda će biti
                  prikazana na vrhu stranice Vašeg Shop-a.
                </p>
              </div>
            </div>
          </div>
          <!-- Support Button-->
          <!-- <div
                class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp"
                data-wow-delay="0.5s"
                style="
                  visibility: visible;
                  animation-delay: 0.5s;
                  animation-name: fadeInUp;
                "
              >
                <i class="lni-emoji-sad"></i>
                <p class="mb-0 px-2">Niste pronašli odgovor na Vaše pitanje?</p>
                <a href="#" routerLink="/kontakt" routerLinkActive="active">
                  Kontaktirajte nas</a
                >
              </div> -->
        </div>
      </div>
    </main>
  </div>
</div>
