<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
    crossorigin="anonymous"
  />
</head>
<div class="page-wrapper">
  <div class="hero-section">
    <div class="hero-image">
      <p>Autoškola "A&S" <span>Konjic</span></p>
      <h6>Prvi korak do Vaše vozačke dozvole učinimo zajedno</h6>
    </div>
  </div>

  <!-- ABOUT US SECTION -->
  <div class="about-us-section">
    <div class="about-us-wrapper">
      <div class="about-us-more">
        <p>Saznaj više</p>
        <div class="btn-o-nama"><a [routerLink]="['/o-nama']">O NAMA</a></div>
      </div>
      <div class="horisontal-separator"></div>
      <div class="social-media">
        <p>Društvene mreže</p>
        <div class="social-media-icons">
          <a
            href="https://www.facebook.com/profile.php?id=100083397306364"
            target="_blank"
            ><svg
              width="30"
              height="30"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9675 2.737H15.9675C14.6414 2.737 13.3697 3.26378 12.432 4.20147C11.4943 5.13915 10.9675 6.41092 10.9675 7.737V10.737H7.96753V14.737H10.9675V22.737H14.9675V14.737H17.9675L18.9675 10.737H14.9675V7.737C14.9675 7.47178 15.0729 7.21743 15.2604 7.02989C15.448 6.84236 15.7023 6.737 15.9675 6.737H18.9675V2.737Z"
                stroke="#ff7a00"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <a
            href="https://www.instagram.com/autoskola_ais/?fbclid=IwAR1G-thlgriE4trPw3zI2tU941Fz5IFJwWzTSp0bPom1ryX24kto_CqWOQg"
            target="_blank"
            ><svg
              width="30"
              height="30"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.9675 2.737H7.96753C5.20611 2.737 2.96753 4.97558 2.96753 7.737V17.737C2.96753 20.4984 5.20611 22.737 7.96753 22.737H17.9675C20.729 22.737 22.9675 20.4984 22.9675 17.737V7.737C22.9675 4.97558 20.729 2.737 17.9675 2.737Z"
                stroke="#ff7a00"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.9675 12.107C17.0909 12.9392 16.9487 13.7892 16.5612 14.536C16.1737 15.2828 15.5606 15.8884 14.8091 16.2667C14.0576 16.6449 13.2059 16.7766 12.3753 16.6429C11.5446 16.5093 10.7772 16.1171 10.1823 15.5222C9.5874 14.9272 9.19521 14.1599 9.06155 13.3292C8.92788 12.4985 9.05955 11.6469 9.43781 10.8954C9.81607 10.1438 10.4217 9.53074 11.1685 9.14324C11.9153 8.75574 12.7652 8.61358 13.5975 8.737C14.4464 8.86288 15.2323 9.25846 15.8392 9.8653C16.446 10.4721 16.8416 11.2581 16.9675 12.107Z"
                stroke="#ff7a00"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.4675 7.237H18.4775"
                stroke="#ff7a00"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- PHASES SECTION -->
  <div class="phases-section">
    <div class="section-title">
      <p>Šta je sve potrebno da biste dobili vozačku dozvolu?</p>
    </div>
    <div class="phases">
      <div *ngFor="let phase of phases" class="phase">
        <div class="number">
          <p>{{ phase.number }}.</p>
        </div>
        <div class="instruction">
          <p class="instruction-title">{{ phase.instructionTitle }}</p>
          <p class="instruction-description">
            {{ phase.instructionDescription }}
          </p>
          <p
            *ngIf="phase.moreLess && phase.additionalInstructionDescription"
            class="instruction-description"
          >
            {{ phase.additionalInstructionDescription }}
          </p>
          <p
            *ngIf="phase.additionalInstructionDescription"
            class="read-more-less"
            (click)="readMoreLess(phase.number)"
          >
            {{ phase.number === openPhase ? "Prikaži manje" : "Prikaži više" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- REVIEWS SECTION -->
  <div class="reviews-section">
    <div class="reviews-wrapper">
      <div class="section-title">
        <p>Šta drugi kažu o nama</p>
      </div>
      <div class="review-cards">
        <!-- CARD 1 -->
        <div *ngFor="let review of reviews" class="review-card">
          <div class="review-image">
            <img [src]="review.img" alt="" />
          </div>
          <p class="review-name">{{ review.name }}</p>
          <p class="review-text">{{ review.text }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ SECTION -->
  <div class="faq-section">
    <div class="section-title inverted">
      <p>Česta pitanja</p>
    </div>
    <main class="faq-content">
      <div class="faq-image">
        <img
          src="../../../assets/faq-img.jpg"
          alt="Vožnja automobila"
          class="faq-img"
        />
      </div>
      <div class="faq-questions">
        <div class="questions-answers">
          <!-- FAQ Area-->
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingOne">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Kada i gdje se mogu upisati u autoškolu "A&S"?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseOne"
              aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Upis novi kandidata je svaki radni dan u terminima od 8h do
                  18h. Prijava za novu grupu kandidata teoretske nastave se
                  šalje svake sedmice.
                </p>
                <p>
                  Šta za Vas to znači? Da svaki dan ima termin za kandidate koji
                  su već prijavljeni na teoretsku nastavu u tekućoj sedmici i Vi
                  na tom času ne možete prisustovati.
                </p>
                <p>
                  Međutim, isti dan u drugom terminu koji Vama odgovara je
                  vrijeme nastave za nove kandidate, kandidate koji još nemaju
                  18 godina (3mjeseca prije punoljetstva) , kandidate koji su
                  odgodili izlazak na polaganje pa izlaze na iduće i rijetke
                  kandidate ponovce.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingTwo">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Koje dokumente moram imati da bi se prijavio u autoškolu?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseTwo"
              aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Za upis u autoškolu potrebno je imati ličnu kartu i ljekarsko
                  uvjerenje. Kandidati mlađi od 18g (3mjeseca do punoljestva)
                  mogu prisustovati teoretskoj nastavi bez lične karte. Ako
                  imate vozačku dozvolu B kategorije i želite polagati za
                  C1,C,CE,D1,D trebate imati važeću vozačku dozvolu za navedenu
                  kategoriju.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingThree">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                Kako se može platiti obuka?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseThree"
              aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Nema više razloga da odgađate polaganje vozačkog ispita, niti
                  izgovora
                </p>
                <p>
                  Od proceduralnog do finansijskog dijela, učinili smo vozački
                  ispit najpristupačnijim ikad !
                </p>
                <p>
                  💸 Plaćanje na rate kompletne obuke na način na koji sami sebi
                  odredite ratu.
                </p>
                <p>💰 GOTOVINSKO PLAĆANJE - POPUST !</p>
              </div>
            </div>
          </div>
          <div
            class="card border-0 wow fadeInUp"
            data-wow-delay="0.3s"
            style="
              visibility: visible;
              animation-delay: 0.3s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFour">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                Koliko važi ljekarsko uvjerenje?<span
                  class="lni-chevron-up"
                ></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFour"
              aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Ljekarsko uvjerenje važi godinu dana od datuma vađenja
                  ljekarskog uvjerenja.
                </p>
              </div>
            </div>
          </div>
          <div
            class="card fadeInUp"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              animation-delay: 0.2s;
              animation-name: fadeInUp;
            "
          >
            <div class="card-header" id="headingFive">
              <h6
                class="mb-0 collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                Da li nudite kondicisku vožnju za vozače koji su položili a nisu
                dugo vozili?<span class="lni-chevron-up"></span>
              </h6>
            </div>
            <div
              class="collapse"
              id="collapseFive"
              aria-labelledby="headingFive"
              data-bs-parent="#faqAccordion"
            >
              <div class="card-body">
                <p>
                  Veoma često se dogodi da položite vozački ispit i da nakon
                  toga rijetko ili nikada ne vozite. Posljedica toga je da više
                  niste sigurni u svoje vozačke sposobnosti i u poznavanje
                  saobraćajnih propisa i sigurnosnih pravila. Nemojte se
                  zabrinjavati ako niste vozili duži vremenski period, jer to je
                  vještina koja se nikad ne zaboravlja. Možemo je usporediti sa
                  vožnjom bicikla, naučili ste ga voziti, niste ga vozili par
                  godina i sigurno bi ga vozili bez problema. Ipak većini vozača
                  koji nisu dugo vozili potrebno je nekoliko sati privikavanja
                  na tehniku vožnje i na vožnju u složenim saobraćajnim
                  uslovima, jer automobil može biti opasno prevozno sredstvo za
                  drugog sudionika u prometu ali i za vas. Steći ćete sigurnost
                  u upravljanju motornim vozilom i ponoviti prometne propise i
                  sigurnosna pravila.
                </p>
                <p>
                  Naš program je individualni i potpuno se prilagođava Vašim
                  potrebama. Vrši se analiza Vaših pogrešaka kod upravljanja
                  vozilom te se obuka usmjerava ciljano ka poboljšanju koje
                  dovodi do sigurnog upravljanja vozilom koje je i Vaš i naš
                  cilj.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- LOCATION SECTION -->
  <div class="location-map-section">
    <div class="section-title">
      <p>Naše prostorije su na adresi M. Tita br. bb (SC Partizanovo)</p>
      <p class="section-subtitle">Klikni na sliku za tačnu lokaciju</p>
    </div>
    <a
      target="_blank"
      href="https://www.google.com/maps/place/Auto%C5%A1kola+%22A%26S%22/@43.6528757,17.9623856,17z/data=!3m1!4b1!4m6!3m5!1s0x475f516d0cda4cbf:0x9488441eac270378!8m2!3d43.6528757!4d17.9623856!16s%2Fg%2F11vdh8whh4?entry=ttu"
    >
      <div class="location-map-img"></div>
    </a>
  </div>
</div>
