<div class="page-wrapper">
  <app-page-title title_text="Restartuj šifru"></app-page-title>
  <div class="container">
    <p class="label">
      Molimo Vas da unesete svoju email adresu kako biste promijenili šifru
    </p>

    <div class="formGroup">
      <input
        type="email"
        class="formControl"
        placeholder="Email adresa"
        #passwordResetEmail
        required
      />
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup">
      <button
        class="btn btnPrimary"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      >
        Restartuj šifru
      </button>
    </div>
  </div>

  <div class="redirectToLogin">
    <span
      >Vrati se nazad?
      <span class="redirect" [routerLink]="['/login']">Prijava</span></span
    >
  </div>
</div>
