<div class="page-wrapper">
  <app-page-title title_text="O nama"></app-page-title>
  <div class="grid">
    <div class="text text1">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non
        ultrices leo. Donec porta accumsan odio, eget auctor odio sodales
        laoreet. Phasellus velit neque, congue at hendrerit sed, facilisis ac
        nunc. Nunc vitae augue bibendum tellus facilisis semper. Donec a
        ultrices tortor. Ut et luctus nisi. Phasellus sit amet sollicitudin
        odio. Pellentesque tellus velit, elementum sit amet pharetra nec, congue
        non turpis. Quisque porttitor dolor vitae ornare sollicitudin. Vivamus
        in eros tempus, tincidunt mi at, ullamcorper ligula. Sed quis sodales
        massa. Ut in mi non nisl faucibus porta vel sed nisl. Quisque aliquam
        eros ac varius tempus.
      </p>
    </div>
    <div class="image image1">
      <img src="https://via.placeholder.com/350" />
    </div>

    <div class="text text2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non
        ultrices leo. Donec porta accumsan odio, eget auctor odio sodales
        laoreet. Phasellus velit neque, congue at hendrerit sed, facilisis ac
        nunc. Nunc vitae augue bibendum tellus facilisis semper. Donec a
        ultrices tortor. Ut et luctus nisi. Phasellus sit amet sollicitudin
        odio. Pellentesque tellus velit, elementum sit amet pharetra nec, congue
        non turpis. Quisque porttitor dolor vitae ornare sollicitudin. Vivamus
        in eros tempus, tincidunt mi at, ullamcorper ligula. Sed quis sodales
        massa. Ut in mi non nisl faucibus porta vel sed nisl. Quisque aliquam
        eros ac varius tempus.
      </p>
    </div>
    <div class="image image2">
      <img src="https://via.placeholder.com/350" />
    </div>
  </div>
</div>
