<div class="page-wrapper">
  <app-page-title title_text="O nama"></app-page-title>
  <div class="grid">
    <div class="text text1">
      <p>
        Autoškola "A&S" je prva u našem kantonu registrovana isključivo za
        teoretski dio saobraćajnih propisa.
      </p>
      <br />
      <p>
        Ono što možda ne znate je, da po zakonu nijedan kandidat ne može izaći
        na polaganje saobraćajnih propisa (testova) bez prethodne prijave i
        odslušane nastave saobraćajnog inžinjera, tj.licenciranog predavača.
        Sanida Prevljak je diplomirani inžinjer saobraćaja i licencirani
        predavač teoretske nastave, sa višegodišnjim radnim iskustvom i iza sebe
        ima stotine naučenih kandidata koji su uspješno položili teoretski dio
        ispita.
      </p>
    </div>
    <div class="image image1">
      <img src="../../../assets/about-us1.jpg" />
    </div>

    <div class="text text2">
      <p class="txt-important">
        Vaše najčešće pitanje je: "Šta nakon položenih testova?"
      </p>
      <br />
      <p>
        U saradnji sa četri autoškole, nakon položenih testova možete da birate
        između pet instruktora, iza kojih je dugogodišnje iskustvo i osigurana
        dobra i kvalitetna obuka vožnje za kategorije A, B, C1, C, CE, D1, D.
      </p>
      <br />
      <p>
        Kod obuke vožnje Vam savjetujemo da uvijek izaberete kvalitet, a ne
        štelu i put pomoću kojeg ćete "lakše" položiti.
      </p>
      <br />
      <p class="txt-important">UČITE DA VOZITE, NE ZA ISPIT, NEGO ZA ŽIVOT.</p>
      <br />
      <p>
        Naše je zadovoljstvo da svoje kandidate šaljemo u ruke onih koji Vas uče
        da vozite za život.
      </p>
    </div>
    <div class="image image2">
      <img src="../../../assets/about-us2.jpg" />
    </div>
  </div>
</div>
