* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 9rem;
}

.container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}

.formGroup {
  width: 100%;
  margin-top: 1rem;
}

input {
  width: 100% !important;
  padding: 10px 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.redirectToLogin {
  margin-top: 0.5rem;
}

.redirectToLogin a {
  color: #000;
}

.redirectToLogin a:hover {
  color: blue;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}

.title-text {
  width: 100%;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}
#title-line {
  width: 146px;
  height: 6px;
  background-color: #000;
  border: none;
}
