<div class="wrapper">
  <div id="game" class="justify-center flex-column">
    <h4 id="current-question">
      {{ current_question_number_text }}/{{ number_of_questions_text }}
    </h4>
    <h2 id="question">{{ current_question.question }}</h2>
    <img
      class="question-img"
      *ngIf="current_question.image"
      src="{{ current_question.image }}"
      alt=""
    />
    <div
      *ngFor="let answer of this.answers"
      class="answers justify-center flex-column"
    >
      <div
        (click)="selectAnswer(answer)"
        class="choice-container"
        class="{{ answer.class }}"
      >
        <input type="checkbox" class="checkbox" [(checked)]="answer.checked" />
        <p class="choice-text">{{ answer.text }}</p>
      </div>
    </div>
    <div class="question-nav-buttons-container">
      <button (click)="updateQuesiton(0)" class="question-nav-button btn">
        &lt;&lt;
      </button>
      <button
        (click)="updateQuesiton(current_question_number - 1)"
        class="question-nav-button btn"
      >
        &lt;
      </button>
      <button
        (click)="updateQuesiton(current_question_number + 1)"
        class="question-nav-button btn"
      >
        &gt;
      </button>
      <button
        (click)="updateQuesiton(number_of_questions - 1)"
        class="question-nav-button btn"
      >
        &gt;&gt;
      </button>
      <button (click)="finishTest()" class="finish-button btn">
        Završi test
      </button>
    </div>
  </div>
</div>
