:host {
  margin-top: auto;
}

footer {
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: var(--secondary-color);
  min-height: 100px;
  padding: 0px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .social-icons,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  padding: 0 !important;
}

footer .social-icons li a,
.menu li a {
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: var(--text-dark);
}

footer .social-icons li a {
  opacity: 0.75;
}

footer .social-icons li a:hover,
.menu li a:hover {
  opacity: 1;
  transform: translateY(-6px);
}

p {
  font-size: 0.8rem;
  opacity: 0.75;
}

footer .wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background: url("../../../../assets/wave.png");
  background-size: 1000px 100px;
}

footer .wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave_1 4s linear infinite;
}

footer .wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}

footer .wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_1 3s linear infinite;
}

footer .wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave_1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
